* {
    box-sizing: border-box;
    color: #282A33;
    font-weight: bold;
    margin: 0;
    padding: 0;
}

.header {
    align-items: center;
    background-color: #D6E0F0;
    border-bottom: 2px solid #666;
    display: flex;
    flex-direction: column;
    padding: 20px;
}


.logo {
    font-family: 'Bebas Neue', cursive;
    font-size: 100px;
    letter-spacing: 10px;
    text-transform: uppercase;
}

.btn {
    border-radius: 5px;
    border: 2px solid #666;
    cursor: pointer;
    font-family: 'Oswald', sans-serif;
    font-size: 30px;
    font-weight: bold;
    padding: 10px;
    text-transform: capitalize;
}

.btn-login {
    margin-top: 20px;
}

.main {
    align-items: center;
    background-color: #F1F3F8;
    display: flex;
    flex-direction: column;
    padding: 40px 35px;
    
}

.section-books {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.btn-add {
    background-color: #ABF79C;
    font-size: 40px;
    margin-bottom: 30px;
}

.card {
    align-items: center;
    background-color: #E0E2E7;
    border-radius: 5px;
    border: 2px solid #666;
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
    max-width: 390px;
    min-width: 300px;
    width: 100%;
}

.card-title,
.card-author,
.card-pages {
    font-family: 'Oswald', sans-serif;
    font-size: 35px;
    margin: 10px 0;
    text-transform: lowercase;
}

.card-isRead {
    background-color: #FFE8E8;
    margin-bottom: 30px;
    margin-top: 20px;
    transition: .5s background;
    width: 80%;
}

.card-isRead:hover {
    background-color: #EED7D7;
}

.card-remove {
    background-color: #DA9797;
    margin-bottom: 30px;
    transition: .5s background;
    width: 80%;
}

.card-remove:hover {
    background-color: #c98686;
}

.hide {
    display: none;
}

.overlay {
    background-color: rgba(0, 0, 0, .7);
    height: 100vh;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
}

.modal {
    border-radius: 6px;
    left: 50%;
    position: fixed;
    top: 50%;
    transform: translate(-50%, -50%);
}

.modal-title {
    font-size: 40px;
}

.modal-form {
    background-color: #D6E0F0;
    font-family: 'Oswald', sans-serif;
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 35px;
}

.btn-submit {
    background-color: #ABF79C;
    transition: .5s background;
}

.btn-submit:hover {
    background-color: #9AE68b;
}

input[type="text"] {
    padding: 10px;
    cursor: text;
    border: 2px solid #666;
    font-weight: bold;
    border-radius: 5px;
    font-size: 25px;
    font-family: 'Oswald', sans-serif;
    margin: 15px 0;
}

input[type="checkbox"] {
    width: 20px;
    height: 20px;
}

label {
    font-size: 24px;
    font-family: 'Oswald', sans-serif;
    font-weight: 300;
    letter-spacing: 1px;
    margin-bottom: 30px;
}



/*****************************************************/
/*************RESPONSIVE******************************/
/*****************************************************/

@media screen and (min-width: 450px) {

    .header {
        justify-content: space-between;
        flex-direction: row;
    }

    .btn-login {
        margin-top: 0;
    }

    .btn-add {
        font-size: 50px;
    }

    .section-books {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        
    }

    .card {
        margin-bottom: 50px;
    }


}

